#{extends 'GameOfLife/main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
<script type="text/javascript">
	window.sessionUnique = "${session.sessionUnique}";
</script>
<script src="@{'/public/javascripts/game-of-life/game.coffee'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{set 'moreStyles'}
<link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
#{/set}

<section class="gameWrapper">
	<header>
		<h1>Game of Life</h1>
	</header>

	<aside class="panel">
		<div class="score">0</div>
		<div class="control">
			<span class="start">
				<a href="javascript:;">Start!</a>
			</span>
			<span class="stop">
				<a href="javascript:;">Stop!</a>
			</span>
			<span class="reload">
				<a href="javascript:;">Reload</a>
			</span>
			<span class="reset">
				<a href="javascript:;">Reset</a>
			</span>
		</div>
	</aside>
	<canvas id="game" width="1000" height="1000"></canvas>

	<div class="credits">
		This game was made to try CoffeeScript. Have a look at the <a href="https://github.com/sylvainmathieu/game-of-life/blob/master/public/javascripts/game-of-life/game.coffee">source code</a>.
	</div>
</section>