
$background: #1b003f
$backgroundTop: #42009c

@mixin borderRadius($radius)
	border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

@mixin borderRadiusAll($tl,$tr,$br,$bl)
	border-radius: $tl $tr $br $bl
	-moz-border-radius: $tl $tr $br $bl
	-webkit-border-radius: $tl $tr $br $bl

body
	background: $background url(/public/images/bg-header.png) repeat-x left top
	font-family: sans-serif
	color: white

@mixin playButton
	@include borderRadius(20px)
	height: 20px
	color: white
	background-color: #216400
	padding: 5px 20px
	text-decoration: none

	&:hover
		border: 3px solid rgba(255,255,255,0.5)

.gameWrapper
	width: 1000px
	margin: auto

	header
		h1
			font-size: 2.5em
			color: rgba(255,255,255,0.8)
			text-shadow: 2px 2px 1px #000000
			font-weight: normal

	.panel
		.score
			width: 200px
			float: left
			margin: 0 10px 30px 0
			padding: 0 20px
			background: black
			color: white
			height: 50px
			line-height: 50px
			font-family: 'Gruppo', sans-serif
			font-size: 2em
			border: 3px solid lighten($background, 15%)

		.control
			padding-top: 18px
			padding-left: 20px
			.start
				a
					@include playButton

			.stop
				display: none
				a
					@include playButton
					background-color: #802100

	.credits
		text-align: center
		font-size: 0.8em
		color: rgba(255,255,255,0.5)
		clear: both
		padding: 20px 0
		a
			color: white
			&:hover
				text-decoration: none

#game
	border: 3px solid lighten($background, 15%)
